<vdl-title-bar title="Books"></vdl-title-bar>

<vdl-panel *ngIf="book && (pageType==PAGE_TYPE.NEW_BOOK || pageType==PAGE_TYPE.EDIT_BOOK)">
    <div class="bookForm">
        <div>
            <vdl-form-field label="Year" class="smallField">
                <input vdlInput type="text" [(ngModel)]="book.year"/>
            </vdl-form-field>
            <vdl-form-field label="Title" class="smallField">
                <input vdlInput type="text" [(ngModel)]="book.title" required/>
            </vdl-form-field>
            <vdl-form-field label="Author" class="smallField">
                <input vdlInput type="text" [(ngModel)]="book.author"/>
            </vdl-form-field>
            <vdl-form-field label="Condition" class="smallField">
                <vdl-select [(ngModel)]="book.condition" >
                    <vdl-option *ngFor="let c of conditionList" [value]="c">{{c}}</vdl-option>
                </vdl-select>
            </vdl-form-field>
       </div>
        <div>
            <vdl-form-field label="Publisher" class="smallField">
                <input vdlInput type="text" [(ngModel)]="book.publisher"/>
            </vdl-form-field>
            <vdl-form-field label="Publisher Place" class="smallField">
                <input vdlInput type="text" [(ngModel)]="book.publisherPlace"/>
            </vdl-form-field>
            <vdl-form-field label="Edition" class="smallField">
                <input vdlInput type="text" [(ngModel)]="book.edition" placeholder="1st Edition"/>
            </vdl-form-field>
                <vdl-form-field label="Printing" class="smallField">
                <input vdlInput type="text" [(ngModel)]="book.printing" placeholder="5th Printing"/>
            </vdl-form-field>

        </div>
    <div>
        <vdl-form-field label="Date Bought" class="smallField">
            <input vdlInput type="text" [(ngModel)]="book.dateBought" placeholder="YYYY-MM-DD"/>
        </vdl-form-field>
        <vdl-form-field label="Date Sold" class="smallField">
            <input vdlInput type="text" [(ngModel)]="book.dateSold" placeholder="YYYY-MM-DD"/>
        </vdl-form-field>
        <vdl-form-field label="Sale Status" class="smallField">
            <vdl-select [(ngModel)]="book.status" >
                <vdl-option *ngFor="let s of getSaleStatusKeys()" [value]="s">{{saleStatusNames.get(s)}}</vdl-option>
            </vdl-select>
        </vdl-form-field>
        <table border=1>
            <tr>
                <th>Price</th>
                <th>Price Bought</th>
                <th>Price Min.</th>
                <th>Price Max.</th>
            </tr>
            <tr>
                <td style="font-weight: boldest">$ <input vdlInput type="text" [(ngModel)]="book.price"/>.00</td>
                <td style="color:grey">$ <input vdlInput type="text" [(ngModel)]="book.priceBought" />.00</td>
                <td style="color:grey">$ <input vdlInput type="text" [(ngModel)]="book.priceMin"/>.00</td>
                <td style="color:grey">$ <input vdlInput type="text" [(ngModel)]="book.priceMax"/>.00</td>
            </tr>
        </table>
    </div>

    <vdl-form-field VdlTextareaAutosize label="Description">
        <textarea vdlInput type="text" [(ngModel)]="book.desc"></textarea>
    </vdl-form-field>

    <vdl-form-field VdlTextareaAutosize label="Private Notes">
        <textarea vdlInput type="text" [(ngModel)]="book.notes"></textarea>
    </vdl-form-field>
    <vdl-form-field label="Subject" class="smallField">
            <vdl-select [(ngModel)]="book.subject.id" >
                <vdl-option *ngFor="let s of subjects" [value]="s.id">{{s.parentName}}: {{s.subjectName}}</vdl-option>
            </vdl-select>
   </vdl-form-field>   

    
    <fieldset style='width: 100%'>
        <legend>Tags:</legend>
        <label *ngFor="let cb of tagCheckboxMap | keyvalue ">
                <input type="checkbox" value="{{cb.id}}" [(ngModel)]="cb.value.checked">{{cb.value.name}}
        </label>   
    </fieldset> 
    <fieldset *ngIf="book.id" style='width: 100%'>
        <legend>References:</legend>
        <button vdl-icon-button (click)="openReferenceDialog()">
            <vdl-icon fontSet="fontawesome" fontIcon="fa-plus-circle"></vdl-icon>
        </button>   
        <div *ngFor="let r of book.references">
            <button vdl-icon-button (click)="deleteReference(r)">
                <vdl-icon fontSet="fontawesome" fontIcon="fa-trash"></vdl-icon>
            </button>      
            <button vdl-icon-button (click)="openReferenceDialog(r)">
                <vdl-icon fontSet="fontawesome" fontIcon="fa-cog"></vdl-icon>
            </button>      
            $ {{r.price}}:                
                <button *ngIf="r.notes" vdl-icon-button vdlTooltip={{r.notes}}>
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-info-circle"></vdl-icon>
                </button>
                <a href='{{r.url}}' target='_blank'>{{r.url}}</a> 
        </div>
    </fieldset>

   </div>

    <button vdl-primary-button (click)="upsertBook()">{{book.id ? 'Update' : 'Create'}}</button>
    <button vdl-secondary-button (click)="deleteBook()">Delete</button>
    <button vdl-secondary-button (click)="listBooks()">Cancel</button>
</vdl-panel>

<vdl-panel *ngIf="pageType==PAGE_TYPE.LIST_BOOKS">
    <button vdl-primary-button (click)='newBook()'>New Book</button>
    <table cellpadding=20>
		<tr>
            <th colspan=3></th>
            <th colspan=4>Price</th>
        </tr>
		<tr>
            <th>Year</th>
            <th>Author</th>
            <th>Title</th>
            <th>Sell</th>
            <th>Bought</th>
            <th>Min</th>
            <th>Max</th>
            <th>Sold</th>
        </tr>
		<tr *ngFor='let b of books'>
			<td>{{b.year}}</td>
			<td>{{b.author}}</td>
			<td>{{b.title}}
                <button *ngIf="b.desc" vdl-icon-button vdlTooltip={{b.desc}}>
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-info-circle"></vdl-icon>
                </button>
                 <button *ngIf="b.notes" vdl-icon-button vdlTooltip={{b.notes}}>
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-copyright"></vdl-icon>
                </button>
           </td>
			<td>{{b.price}}</td>
			<td>{{b.priceBought}}</td>
			<td>{{b.priceMin}}</td>
			<td>{{b.priceMax}}</td>
            <td>
                <button vdl-icon-button (click)="editBook(b.id)">
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-cog"></vdl-icon>
                </button>
            </td>
            <td>
                <button vdl-icon-button (click)="deleteBook(b.id)">
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-trash"></vdl-icon>
                </button>
            </td>      
        </tr>
	</table>
List books

</vdl-panel>



