<div id="print-section">
    <table border=1 >
		<tr>
            <th>Id</th>
            <th>Year</th>
            <th>Author</th>
            <th>Title</th>
            <th>Price</th>

        </tr>
		<tr *ngFor='let b of books; let o=odd;'>  
			<td>{{b.id}}</td>
			<td>{{b.year}}</td>
			<td>{{b.author}}</td>
			<td>{{b.title}} </td>
			<td>{{b.price}}</td>


        </tr>
	</table>
</div>

<vdl-panel *ngIf="book && (pageType==PAGE_TYPE.EXPORT_BOOKS)">
    {{ books | json }}
</vdl-panel>

<vdl-panel *ngIf="book && (pageType==PAGE_TYPE.NEW_BOOK || pageType==PAGE_TYPE.EDIT_BOOK)">
<vdl-title-bar title="Book Details"></vdl-title-bar>

    <div class="bookForm">
        <div>
                 <vdl-form-field label="Year" class="tinyField">
                    <input vdlInput type="text" [(ngModel)]="book.year"/>
                </vdl-form-field>
          <vdl-form-field label="Author" class="smallField">
                <input vdlInput type="text" [(ngModel)]="book.author"/>
            </vdl-form-field>
           <vdl-form-field label="Title" class="mediumField">
                <input vdlInput type="text" [(ngModel)]="book.title"/>
            </vdl-form-field>

           <vdl-form-field label="Condition" class="tinyField">
                <vdl-select [(ngModel)]="book.condition" >
                    <vdl-option *ngFor="let detail of attrCondition.details" [value]="detail.value">{{detail.value}}</vdl-option>
                </vdl-select>
            </vdl-form-field>
            <vdl-form-field label="Pages" class="smallField">
                <input vdlInput type="text" [(ngModel)]="book.pages"/>
            </vdl-form-field>


            


       </div>
        <div>
            <vdl-form-field label="Publisher" class="mediumField">
                <input vdlInput type="text" [(ngModel)]="book.publisher"/>
            </vdl-form-field>
            <vdl-form-field label="Publisher Place" class="mediumField">
                <input vdlInput type="text" [(ngModel)]="book.publisherPlace"/>
            </vdl-form-field>
            <vdl-form-field label="Edition" class="tinyField">
                <input vdlInput type="text" [(ngModel)]="book.edition" placeholder="1st Edition"/>
            </vdl-form-field>
            <vdl-form-field label="Printing" class="tinyField">
                <input vdlInput type="text" [(ngModel)]="book.printing" placeholder="5th Printing"/>
            </vdl-form-field>
            <vdl-form-field label="Volume" class="tinyField">
                <input vdlInput type="text" [(ngModel)]="book.volume" placeholder="Vol. I."/>
            </vdl-form-field>


        </div>
    <div>
            <vdl-form-field label="Size" class="tinyField">
                <vdl-select [(ngModel)]="book.size" >
                    <vdl-option></vdl-option>
                    <vdl-option *ngFor="let detail of attrSize.details" [value]="detail.value">{{detail.value}}</vdl-option>
               </vdl-select>
            </vdl-form-field>
            <vdl-form-field label="Binding" class="tinyField">
                <vdl-select [(ngModel)]="book.binding" >
                    <vdl-option *ngFor="let detail of attrBinding.details" [value]="detail.value">{{detail.value}}</vdl-option>
                </vdl-select>
            </vdl-form-field>
         <table border=1>
            <tr>
                <th>Price</th>
                <th>Price Bought</th>
                <th>Price Min.</th>
                <th>Price Max.</th>
            </tr>
            <tr>
                <td style="font-weight: boldest">$ <input vdlInput type="text" [(ngModel)]="book.price"/>.00</td>
                <td style="color:grey">$ <input vdlInput type="text" [(ngModel)]="book.priceBought" />.00</td>
                <td style="color:grey">$ <input vdlInput type="text" [(ngModel)]="book.priceMin"/>.00</td>
                <td style="color:grey">$ <input vdlInput type="text" [(ngModel)]="book.priceMax"/>.00</td>
            </tr>
        </table>
        <vdl-form-field label="Date Bought" class="tinyField">
            <input vdlInput type="text" [(ngModel)]="book.dateBought" placeholder="YYYY-MM-DD"/>
        </vdl-form-field>
        <vdl-form-field label="Date Sold" class="tinyField">
            <input vdlInput type="text" [(ngModel)]="book.dateSold" placeholder="YYYY-MM-DD"/>
        </vdl-form-field>
        <vdl-form-field label="Sale Status" class="tinyField">
            <vdl-select [(ngModel)]="book.status" >
                <vdl-option *ngFor="let s of getSaleStatusKeys()" [value]="s">{{saleStatusNames.get(s)}}</vdl-option>
            </vdl-select>
        </vdl-form-field>


    </div>

    <vdl-form-field VdlTextareaAutosize label="Details (Condition, plates, etc.)">
        <textarea vdlInput type="text" [(ngModel)]="book.details"></textarea>
    </vdl-form-field>

    <vdl-form-field VdlTextareaAutosize label="Contents">
        <textarea vdlInput type="text" [(ngModel)]="book.contents"></textarea>
    </vdl-form-field>

    <vdl-form-field VdlTextareaAutosize label="Private Notes">
        <textarea vdlInput type="text" [(ngModel)]="book.notes"></textarea>
    </vdl-form-field>

    <vdl-form-field label="Relative URL">
        <input vdlInput type="text" [(ngModel)]="book.urlRelative" placeholder="1800/1815_Forbes_OrientalMemoires/"/>
    </vdl-form-field>

    <vdl-form-field label="Subject" class="mediumField">    
            Current subject: {{book.subject?.parentName}}: {{book.subject?.subjectName}}
            <vdl-select [(ngModel)]="book.subject" >
                <vdl-option *ngFor="let s of subjects" [value]="s">{{s.parentName}}: {{s.subjectName}}</vdl-option>
            </vdl-select>
   </vdl-form-field>   

    
    <fieldset style='width: 100%'>
        <legend>Tags:</legend>
        <label *ngFor="let cb of tagCheckboxMap | keyvalue ">
                <input type="checkbox" value="{{cb.id}}" [(ngModel)]="cb.value.checked">{{cb.value.name}}
        </label>   
    </fieldset> 
    <fieldset *ngIf="book.id" style='width: 100%'>
        <legend>References:</legend>
        <button vdl-icon-button (click)="openReferenceDialog()">
            <vdl-icon fontSet="fontawesome" fontIcon="fa-plus-circle"></vdl-icon>
        </button>   
        <div *ngFor="let r of book.references">
            <button vdl-icon-button (click)="deleteReference(r)">
                <vdl-icon fontSet="fontawesome" fontIcon="fa-trash"></vdl-icon>
            </button>      
            <button vdl-icon-button (click)="openReferenceDialog(r)">
                <vdl-icon fontSet="fontawesome" fontIcon="fa-cog"></vdl-icon>
            </button>      
            $ {{r.price}}:                
                <button *ngIf="r.notes" vdl-icon-button vdlTooltip={{r.notes}}>
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-info-circle"></vdl-icon>
                </button>
                <a href='{{r.url}}' target='_blank'>{{r.url}}</a> 
        </div>
    </fieldset>

   </div>

    <button vdl-primary-button (click)="upsertBook()">{{book.id ? 'Update' : 'Create'}}</button>
    <button vdl-secondary-button (click)="deleteBook()">Delete</button>
    <button vdl-secondary-button (click)="listBooks()">Cancel</button>
</vdl-panel>

<vdl-panel *ngIf="pageType==PAGE_TYPE.LIST_BOOKS">
<vdl-title-bar title="Book List"></vdl-title-bar>
    <fieldset style='width: 100%'>
        <legend>Seach books:</legend>
            <input type="text" [(ngModel)]="searchValue"/>
            <button (click)="searchBooks(SEARCH_TYPE.YEAR)">By Year</button>
            <button (click)="searchBooks(SEARCH_TYPE.AUTHOR)">By Author</button>
    </fieldset> 


   <button vdl-primary-button (click)='newBook()'>New Book</button>

   <button vdl-secondary-button (click)="exportBooks()">Export</button>

   <button vdl-secondary-button (click)="print()">Print</button>


    <table class="vdl-data-table material striped">
		<tr>
            <th colspan=2></th>
            <th colspan=3></th>
            <th colspan=4>Price</th>
        </tr>
		<tr>
            <th></th>
            <th>ID</th>
            <th>URL</th>
            <th>Year</th>
            <th>Author</th>
            <th>Title</th>
            <th>Sell</th>
            <th>Bought</th>
            <th>Min</th>
            <th>Max</th>
            <th>Status</th>
            <th></th>
       </tr>
		<tr [ngClass]="{'data-table-row-odd':o}" *ngFor='let b of books; let o=odd;'>
            <td align=center>
                <button vdl-icon-button (click)="editBook(b.id)">
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-cog"></vdl-icon>
                </button>
            </td>
			<td align=right>{{b.id}}</td>
            <td align=center>
                <button *ngIf="b.urlRelative" vdl-icon-button (click)=launchImageUrl(b.urlRelative)>
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-external-link"></vdl-icon>
                </button>
            </td> 
            <td>{{b.year}}</td>
			<td>{{b.author}}</td>
			<td>{{b.title}}
                <button *ngIf="b.desc" vdl-icon-button vdlTooltip={{b.desc}}>
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-info-circle"></vdl-icon>
                </button>
                 <button *ngIf="b.notes" vdl-icon-button vdlTooltip={{b.notes}}>
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-copyright"></vdl-icon>
                </button>
           </td>
			<td>{{b.price}}</td>
			<td>{{b.priceBought}}</td>
			<td>{{b.priceMin}}</td>
			<td>{{b.priceMax}}</td>
			<td>{{b.status}}</td>
            <td align=center>
                <button vdl-icon-button (click)="deleteBook(b.id)">
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-trash"></vdl-icon>
                </button>
            </td>      

        </tr>
	</table>
</vdl-panel>



