<vdl-title-bar title="Tags"></vdl-title-bar>

<vdl-panel *ngIf="tag && (pageType==PAGE_TYPE.NEW_TAG || pageType==PAGE_TYPE.EDIT_TAG)" class="smallForm">
    <vdl-form-field label="Name" class="smallField">
        <input vdlInput type="text" [(ngModel)]="tag.name"/>
    </vdl-form-field>     

    <button vdl-primary-button (click)="upsertTag(pageType==PAGE_TYPE.NEW_TAG)">{{pageType==PAGE_TYPE.NEW_TAG ? 'Create' : 'Update'}}</button>
    <button vdl-secondary-button (click)="deleteTag()">Delete</button>
    <button vdl-secondary-button (click)="listTags()">Cancel</button>
</vdl-panel>

<vdl-panel *ngIf="pageType==PAGE_TYPE.LIST_TAGS">
    <button vdl-primary-button (click)='newTag()'>New Tag</button>
    <table class="vdl-data-table material striped">
		<tr>
            <th colspan=2></th>
            <th>Name</th>
        </tr>
		<tr [ngClass]="{'data-table-row-odd':o}" *ngFor='let t of tags; let o=odd;'>
            <td align=center>
                <button vdl-icon-button (click)="editTag(t.key)">
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-cog"></vdl-icon>
                </button>
            </td>
            <td align=center>
                <button vdl-icon-button (click)="deleteTag(t.key)">
                    <vdl-icon fontSet="fontawesome" fontIcon="fa-trash"></vdl-icon>
                </button>
            </td>   
			<td>{{t.name}}</td>  
        </tr>
	</table>
</vdl-panel>



